/* "Image-wide" elements */
rect.bg {
  fill: white;
}

rect.future {
  stroke: gray;
  fill: gray;
}

rect.border {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

/* Elements involved in drawing the decade labels */

rect.decadeLabel {
  fill: none;
  stroke: lightgray;
  stroke-width: 1;
}

text.decadeLabel {
  text-anchor: middle;
  alignment-baseline: central;
}

path.centuryBoundary {
  fill: none;
  stroke: black;
  stroke-dasharray: 5,5;
}

/* Elements involved in drawing a bar for a historical figure */

rect.bar {
  stroke: black;
  stroke-width: 1;
}

text.bar {
  text-anchor: middle;
  alignment-baseline: central;
}
